 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Overpass:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Sarabun:wght@200;400;500;600&display=swap');
/* Global styles */
 *{box-sizing: border-box;}

 body {
   margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Overpass', sans-serif;
  background-color: hsl(0, 0%, 100%);
}

a {color: hsl(228, 45%, 44%); }
ol{list-style: none; color: hsl(216, 12%, 54%);}
p{color:hsl(216, 12%, 54%);}
h1,h2{
  color:hsl(0, 0%, 100%) ;
  font-weight: 700;
  text-align: left;
  width: 100%;
}
  
    /* main container */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: black;
}
/* rating card container */

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:hsl(216, 12%, 8%) ;
  width: 340px;
  height: 378px;
  padding: 20px;
  border-radius: 20px;
}
.active:is(.rating,.thank-you){
  display:flex ;
  transition: all .3s ease-in-out;
}

.rating,.thank-you{
  display: none;
  transition: all .3s ease-in-out;
}
.star-img{
  width: 100%;
  text-align: left;
}

.star-img img{
  background-color: hsl(213, 19%, 18%);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}
.rating p{
  text-align: left;
}

.rating-numbers, .rating-numbers li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rating-numbers{
  padding: 0;
  margin: 20px 0;
  flex: 1;
  gap:10px;
}

.rating-numbers li{
  height: 50px;
  width: 55px;
  border-radius: 50%;
  color:hsl(216, 12%, 54%);
  background-color: hsl(213, 19%, 18%);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.rating-numbers li:hover{
  color:  hsl(0, 0%, 100%);
  background-color:hsl(25, 97%, 53%) ;
}

@media screen and (max-width:768px) {
  .rating-numbers li:hover{
  color:  hsl(0, 0%, 100%);
  background-color:hsl(217, 12%, 63%);
}
}
.rating-numbers .active{
  color:  hsl(0, 0%, 100%);
  background-color:hsl(217, 12%, 63%);
  transition: all .2s ease-in-out
}

.submit{
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}

.submit:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

 
.thank-you p ,h2{
  text-align: center;
}
.selected-rating{
  color: hsl(25, 97%, 53%);
  font-weight: 500;
  background-color: hsl(213, 19%, 18%);
  padding: 5px 15px;
  border-radius: 15px;
}